DB_DRIVER=oracle.jdbc.driver.OracleDriver
DB_URL=jdbc:oracle:thin:@host:port/service
DB_USERNAME=your_username
DB_PASSWORD=your_password
SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
